.show-page-comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    border-right: 1px solid lightgrey;
}

.comment-img {
    height: 40px;
    width: 40px;
}

.comment-form-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.comment-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightgrey;
}

.comment-input-area{
    width: 97%;
}

.comment-section {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
}

.comment-button {
    width: 11%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid lightgrey;
}

.comment-button:hover {
    border: 1px solid black;
}

.comment-button-container {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

.comment-uploader-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.comment-thread-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 10px;
}

.song-uploader-info {
    display: flex;
    flex-direction: column;
}

.commenter-photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment-item {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid lightgrey;
}

.comment-list-container {
    width: 85%;
    padding-top: 15px;
    padding-bottom: 50px;
}

.comment-number{
    width: 15%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.comment-count {
    color: #999999;
}

.comment-icon {
    color: #999999;
}

.comment-item-left {
    display: flex;
}

.commenter-info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.comment-commenter {
    color: #999999;
    font-size: 12px;
}

.comment-body {
    font-size: 14px;
    padding-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.delete-button-container {
    display: flex;
    flex-direction: row-reverse;
}

.comment-posted {
    color: #999999;
    font-size: 14px;
    padding-bottom: 5px;
}

.delete-comment {
    border: 1 px solid black;
}

.delete-container{
    border: 1px solid black;
    font-size: 14px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 20px;
    cursor: pointer;
    visibility: hidden;
}

.comment-item:hover .delete-container {
    visibility: visible;
}

.no-comment-image {
    width: 80%;
    height: 50%;
}

.no-comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-comment-message {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
}

.uploader-displayname {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}