.discover-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.discover-content-container {
    display: flex;
    justify-content: center;
    border: 3px solid yellow;
}

.discover-content {
    display: flex;
    width: 1250px;
    border: 3px solid red;
}

.discover-songs {
    border: 3px solid blue;
    width: 75%
}

.discover-sidebar {
    border: 3px solid green;
    font-size: 30px;
    width: 25%;
}