.splash-box-1 {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 125px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.splash-message-1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}
.upload-btn {
    background-color: #ff004f;
    font-size: 20px;
    height: 50px;
    width: 250px;
    color: white;
    align-items: center;
    border: none;
    border-radius: 8px;
}
.splash-box-2 {
    background-color: white;
    height: 550px;
}
.song-lists {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.song-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
.song-title {
    color: black;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 5px;
}
.artist-name {
    color: #999999;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li > img {
    height: 200px;
    width: 200px;
    padding-bottom: 10px;
}

.splash-box-3 {
    display: flex;
    flex-direction: row;
}
.left-content {
    width:750px;
    height: 450px;
    padding-right: 50px;
}
.right-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-content-color-effect {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-image: linear-gradient(90deg,#ff004f,#f30 50%, #FF00FF);
}
.right-content-items {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 325px;
    margin-left: 45px;
    height:250px;
}
.right-content-message {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
}
.right-content-info {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #333;
}
.right-content-buttons {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    height: 40px;
    padding-top: 20px;
}
.githubbutn {
    background-color: #ff004f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: white;
    width: 125px;
    border: none;
    border-radius: 8px;
}
.linkedinbutn {
    background-color: #ff004f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: white;
    width: 125px;
    border: none;
    border-radius: 8px;
}
.splash-box-4 {
    background-image: image-url('splash-body-background.png');
    height: 400px;
    display: flex;
    justify-content: space-around;
}
.content-left-container {
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 450px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content-right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.content-right-photo {
    height: 300px;
    width: 500px;
}
.content-right-message {
    color: #ff004f;
    text-align: center;
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.findout {
    border: 1px solid white;
    height: 40px;
    align-items: center;
    width: 150px;
    background-color: #141414;
    color: white;
    font-size: 18px;
    font-weight: 100;
}
.shoutout1 {
    font-size: 28px;
}
.shoutout2 {
    font-size: 28px;
}
.splash-box-5 {
    height: 375px;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}
.create-message-1 {
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    padding-bottom: 20px;
}
.create-message-2 {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    padding-bottom: 20px;
}
.create-button {
    background-color: #ff004f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: white;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 8px;
}
.create-button-container {
    padding-bottom: 20px;
}
.create-message-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.create-signin-message {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding-right: 15px;
}
.create-signin-butn {
    height: 40px;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    width: 80px;
    border-radius: 8px;
}
.link {
    text-decoration: none;
    color: white;
}