.splash-box-1 {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 125px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.splash-message-1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}
.upload-btn {
    background-color: #ff004f;
    font-size: 20px;
    height: 50px;
    width: 250px;
    color: white;
    align-items: center;
}
.splash-box-2 {
    background-color: white;
    height: 500px;
}
.song-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.song-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
.song-title {
    color: black;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 5px;
}
.artist-name {
    color: #999999;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li > img {
    height: 174px;
    width: 174px;
    padding-bottom: 10px;
}