body {
    background-color: #E7E9EB;
}

.splash-content {
    width: 1250px;
    margin: auto;
}

.header-content {
    background-image: image-url('splash_header.jpeg');
    height: 400px;
    display: flex;
    justify-content: space-between;
    padding: 25px 25px;
    background-size: 100% 100%;
    background-position: center;
    border-top: 5px solid #ff004f;
}
.header-buttons {
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.header-logo {
    width: 140px;
    display: flex;
    justify-content: space-between;
}
.header-logo-text {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.login-btn {
    color: white;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid white;
    height: 30px;
    width: auto;
    text-decoration: none;
    border-radius: 8px;
}
.signup-btn {
    text-decoration: none;
    background-color: #ff004f;
    font-size: 15px;
    height: 30px;
    width: auto;
    color: white;
    border: none;
    border-radius: 8px;
}
button {
    cursor: pointer;
}
.header-text {
    color: white;
}

//MODAL CSS
// .modal-background {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   background: rgba(0, 0, 0, 0.7);
//   z-index: 10;
// }

// .modal-child {
//   position: absolute;
//   top: 35%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background-color: white;
//   border: 3px solid black;
//   width: 450px;
//   height: 550px;
// }
