body {
    background-color: #E7E9EB;
}

.splash-content {
    width: 1250px;
    margin: auto;
}

.header-content {
    background-image: url('https://music-nimbus-seeds.s3.amazonaws.com/concert.jpg');
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 25px;
    background-size: 100% 100%;
    background-position: center;
    border-top: 5px solid #ff004f;
}
.header-buttons {
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.header-logo {
    width: fit-content;
    display: flex;
    justify-content: space-between;
}
.header-logo-text {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.login-btn {
    color: white;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid white;
    height: 30px;
    width: auto;
    text-decoration: none;
    border-radius: 8px;
}
.signup-btn {
    text-decoration: none;
    background-color: #ff004f;
    font-size: 15px;
    height: 30px;
    width: auto;
    color: white;
    border: none;
    border-radius: 8px;
}
button {
    cursor: pointer;
}
.header-text {
    color: white;
}

.header-content-top {
    display: flex;
    justify-content: space-between;
}

.splash-logo {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 26px;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 5px black;
}
