.song-player-container {
    position: fixed;
    bottom: 0;
    height: 5%;
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: #E7E9EB;
    width: 100%;
    border-top: 1px solid gray;
    z-index: 1000;
}

.play-control {
    background-color: #ff004f;
    color: white;
    // border-radius: 50%;
    font-size: 24px;
    height: 50px;
    width: 50px;
    // border: 2px solid gold;
    // visibility: hidden;
    // overflow: hidden;
    // position: relative;
    // opacity: 0;
    // z-index: 1;
}

.play-container {
    // border: 2px solid hotpink;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff004f;
}

.song-player-content {
    width: 1300px;
    display: flex;
    justify-content: space-between;
}

.song-player-song-info {
    display: flex;
}

.song-player-right {
    display: flex;
    justify-content: space-around;
    // border: 2px solid gold;
    width: 20%;
    padding-right: 100px;
    padding-top: 5px;
}

.song-player-artist-info {
    display: flex;
    flex-direction: column;   
}

.player-img {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

.player-song {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 100;
    color: gray;
}

.player-artist {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 100;
}

.song-player-links {
    // border: 2px solid black;
    width: 20%;
    display: flex;
    justify-content: space-between;
    color: black;
    text-decoration: none;
    
}

.song-player-links a {
    text-decoration: none;
    color: #333;
}

.song-player-left {
    // border: 2px solid gold;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-player-left button {
    border: none;
    background-color: #E7E9EB;
    font-size: 12px;
    color: #333;
}

.song-player-left a {
    text-decoration: none;
    color: black;
}

.song-progress {
    width: 80%;
    height: 2px;
    text-decoration: none;
    background-color: lightgray;
    color: black;
}

.song-player-middle {
    // border: 2px solid black;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.duration {
    // border: 2px solid gold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.time-now {
    // border: 2px solid red;
    color: #ff004f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}