.show-page-container {
    display: flex;
    justify-content: center;
}

.show-page-content {
    width: 1247px;
}

.show-page-banner {
    height: 400px;
    background-image: linear-gradient(90deg,#2c5364,#203a43 50%, #0F2027);
    display: flex;
    background-size: 100% 100%;
    background-position: center;
}

.show-page-bottom {
    display: flex;
}

.show-page-right {
    width: 25%;
    background-color: white;
}

.show-banner-left {
    width: 75%;
}

.show-banner-right {
    width: 25%;
    display: flex;
    align-items: center;
}

.show-banner-image {
    width: 85%;
    height: 75%;
}

.show-banner-left {
    display: flex;
    justify-content: space-between;
}

.show-left-content {
    padding-top: 25px;
    padding-left: 25px;
    display: flex;
    width: 45%;
}

.left-info-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.show-right-content {
    padding-top: 25px;
    padding-right: 25px;
}

.banner-genre-label {
    background-color: gray;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 100;
    border-radius: 50%;
    border-radius: 12px;
    width: 150px;
    border: none;

}

.play-top {
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 100;
    height: 60%;
    border-bottom: 5px transparent;
    width: fit-content;
    height: fit-content;
    border: none;
    cursor: default;
    margin-left: 0;
}

.song-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 230px;
    height: 80px;
}

.play-bottom {
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 100;
    width: fit-content;
    height: fit-content;
    border: none;
    cursor: default;
}

.related-genre-list {
    border-bottom: 1px solid #999999;
}

.related-genre-item {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
}

.related-image {
    width: 65px;
    height: 65px;
}

.related-title {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    padding-bottom: 5px;
}

.related-artist {
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: #999999;
}

.show-label {
    padding-top: 15px;
    border-bottom: 1px solid #999999;
}

.related-label {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    padding-left: 5px;
    padding-bottom: 10px;
}

.genre-song-info {
    padding-left: 5px;
}

.show-page-left {
    width: 75%;
    background-color: white;
    // border: 2px solid gold;
}

.song-profile-pic{
    padding-top: 20px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.show-page-comment-container {
    display: flex;
    justify-content: space-around;
    // border: 2px solid black;
    height: 300px;
}

.placeholder {
    // border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 500px;
}

.placeholder-pic {
    height: 250px;
    width: 600px;
}

.placeholder-message {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 100px;
}

