.show-page-container {
    // border: 3px solid red;
    // background-color: yellow;
    display: flex;
    justify-content: center;
}

.show-page-content {
    // border: 3px solid blue;
    width: 1247px;
}

.show-page-banner {
    height: 400px;
    background-image: linear-gradient(90deg,#2c5364,#203a43 50%, #0F2027);
    // background-image: url(https://music-nimbus-seeds.s3.amazonaws.com/empire.jpg);
    display: flex;
    background-size: 100% 100%;
    background-position: center;
}

.show-page-bottom {
    display: flex;
}

.show-page-left {
    width: 75%;
    background-color: white;
    // border: 3px solid black;
}

.show-page-right {
    width: 25%;
    background-color: white;
    // border: 3px solid green;
}

.show-banner-left {
    // border: 3px solid gold;
    width: 75%;
}

.show-banner-right {
    // border: 3px solid silver;
    width: 25%;
    display: flex;
    align-items: center;
}

.show-banner-image {
    width: 100%;
    height: 260px;
}

.show-banner-left {
    display: flex;
    justify-content: space-between;
    // border: 3px solid red;
}

.show-left-content {
    padding-top: 25px;
    padding-left: 25px;
    // border: 3px solid blue;
    display: flex;
}

.show-right-content {
    padding-top: 25px;
    padding-right: 25px;
    // border: 3px solid green;
}

.banner-genre-label {
    background-color: gray;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 100;
    border-radius: 50%;
    border-radius: 12px;
    width: 150px;
    border: none;

}

.play-top {
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 100;
    height: 42px;
    border-bottom: 5px transparent;
}

.play-bottom {
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 100;
}

.play-button {
    cursor: pointer;
    font-size: 58px;
    padding-right: 35px;
}

.related-genre-list {
    padding-top: 10px;
    border-bottom: 1px solid #999999;
    padding-bottom: 10px;
    // border: 3px solid black;
}

.related-genre-item {
    // border: 3px solid gold;
    display: flex;
}

.related-image {
    width: 65px;
    height: 65px;
}

.related-title {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    padding-bottom: 5px;
}

.related-artist {
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: #999999;
}

.show-label {
    padding-top: 15px;
    border-bottom: 1px solid #999999;
}

.related-label {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    padding-left: 5px;
    padding-bottom: 10px;
}

.genre-song-info {
    padding-left: 5px;
}